<div data-ng-controller="TipsCtrl as vm" >
    <h2 class="row">{{vm.title}} - $route, config, track by, order by, promises</h2>

    <!--<pre>{{vm.parks | json}}</pre>-->

    <div class="row btn-group">
        <button type="button" class="btn btn-default"
                data-ng-repeat="p in vm.parks track by p.ShortName"
                data-ng-click="vm.selectedPark = p">{{p.ShortName}}</button>
    </div>
    <div class="row">
        <span class="label label-primary">{{vm.selectedPark.Name}}</span>
    </div>

    <div class="row">
        <label>Filter</label>
        <input data-ng-model="tipsFilter"/>
    </div>

    <div data-ng-if="vm.selectedPark" class="row">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <th>Attraction</th>
                <th>Status</th>
                <th>Standby Wait Time</th>
                <th>FP Distribution Time</th>
            </thead>
            <tbody>
                <tr data-ng-repeat="a in vm.selectedPark.Attraction | filter:tipsFilter | orderBy:'Name' track by a.Id ">
                    <td>{{a.Name}}</td>
                    <td>{{a.Status}}</td>
                    <td>{{a.StandbyWaitTime}}</td>
                    <td>{{a.FPDistributionTime}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
