<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <title>NG Jump-Start</title>
    <link rel="stylesheet" href="content/bootstrap.css"/>
    <link rel="stylesheet" href="content/styles.css"/>
    <link rel="stylesheet" href="content/animations.css"/>
</head>
<body class="container" data-ng-controller="AvengersCtrl as vm">
    <h2>$http, ng-class, ng-click</h2>

    <div class="row">
        <button data-ng-click="vm.getAvengers()"
                class="btn btn-info">Refresh</button>
    </div>

    <ul class="nav nav-tabs nav-justified">
        <li data-ng-repeat="a in vm.avengers track by a.id"
            data-ng-class="{active: vm.isActive(a)}">
            <a href="" data-ng-click="vm.selectedAvenger=a">{{a.name}}</a>
        </li>
    </ul>

    <script src="scripts/jquery-2.0.3.js"></script>
    <script src="scripts/bootstrap.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="scripts/angular-animate.js"></script>

    <script src="app/app.module.js"></script>
    <script src="app/avengers/avengers.controller.js"></script>
    <script src="app/avengers/avengers.service.js"></script>
</body>
</html>