<section class="mainbar" data-ng-controller="avengers as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wblue">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">
                        <!--<pre>{{vm.maa.data | json}}</pre>-->
                        <input data-ng-model="vm.filter.name" placeholder="Find Avengers by name"/>
                        <table class="table table-condensed table-striped"
                               ng-model-options="{ debounce: 2000, updateOn: 'blur' }">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Character</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="c in vm.maa | filter:vm.filter track by c.id">
                                <td><img
                                        ng-src="{{c.thumbnail.path}}.{{c.thumbnail.extension}}"
                                        class="avenger-thumb img-rounded"/></td>
                                <!--<td><span class="avenger-name">{{c.name}}</span></td>-->
                                <td><input class="avenger-name" ng-model="c.name"
                                           />
                                    <br/>
                                {{c.name}}<br/>
                                {{::c.name}}</td>
                                <td>{{c.description | limitTo: 2000 }} ...</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul>
                        <li ng-repeat="item in ::vm.maa track by item.id">{{item.name}}</li>
                    </ul>
                    <button ng-click="vm.addAvenger()">Add Avenger</button>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
