<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <title>NG Jump-Start</title>
    <link rel="stylesheet" href="content/bootstrap.css"/>
    <link rel="stylesheet" href="content/styles.css"/>
</head>
<body class="container" data-ng-controller="PeopleCtrlAs as vm">
    <h2>'Controller As' Style</h2>
    <div>
        <label>Filter</label>
        <input data-ng-model="personFilter"/>
    </div>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <th>First</th>
            <th>Last</th>
        </thead>
        <tbody>
            <tr data-ng-repeat="p in vm.people | filter:personFilter">
                <td>{{p.first}}</td>
                <td>{{p.last}}</td>
            </tr>
        </tbody>
    </table>

    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="scripts/angular-animate.js"></script>

    <script src="app/app.js"></script>
    <script src="app/people/peopleControllerAs.js"></script>
    <script src="app/people/peopleService.js"></script>
</body>
</html>