<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <title>NG Jump-Start</title>
    <link rel="stylesheet" href="content/bootstrap.css"/>
    <link rel="stylesheet" href="content/styles.css"/>
</head>
<body class="container" data-ng-controller="PeopleCtrl">
    <h2>1st Controller, Dependency Injection, Named Module, and $scope</h2>
    <div>
        <label>Filter</label>
        <input data-ng-model="personFilter"/>
    </div>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <th>First</th>
        </thead>
        <tbody>
            <tr data-ng-repeat="p in people | filter:personFilter">
                <td>{{p.first}}</td>
                <td>{{p.last}}</td>
            </tr>
        </tbody>
    </table>

    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="scripts/angular-animate.js"></script>

    <script src="app/app.js"></script>
    <script src="app/people/peopleController.js"></script>
    <script src="app/people/peopleService.js"></script>
</body>
</html>