<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngularJS.Core" version="1.2.13" targetFramework="net45" />
  <package id="Breeze.Angular" version="0.8.3" targetFramework="net45" />
  <package id="Breeze.Client" version="1.4.11" targetFramework="net45" />
  <package id="Breeze.Server.ContextProvider" version="1.4.11" targetFramework="net45" />
  <package id="Breeze.Server.ContextProvider.EF6" version="1.4.11" targetFramework="net45" />
  <package id="Breeze.Server.WebApi2" version="1.4.11" targetFramework="net45" />
  <package id="Breeze.WebApi2.EF6" version="1.4.11" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.1" targetFramework="net45" />
  <package id="EntityFramework.SqlServerCompact" version="6.0.1" targetFramework="net45" />
  <package id="jQuery" version="1.8.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.OData" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="Q" version="0.9.7" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.0" targetFramework="net45" />
  <package id="toastr" version="1.1.2" targetFramework="net40" />
  <package id="WebActivator" version="1.5.3" targetFramework="net45" />
</packages>