<div data-cc-sidebar data-ng-controller="Sidebar as vm">
    <div class="sidebar-filler"></div>
    <div class="sidebar-dropdown"><a href="#">Menu</a></div>
    <div class="sidebar-inner">
        <div class="sidebar-widget">
            <form class="row">
                <div class="input-group col-sm-12">
                    <input type="text" class="form-control"
                           placeholder="Find sessions"
                           data-ng-model="vm.searchText"
                           data-ng-keyup="vm.search($event)">
                    <a class="btn btn-info btn-notext input-group-addon" data-ng-click="vm.search($event)"><i
                            class="fa fa-search"></i></a>
                </div>
            </form>
        </div>

        <ul class="navi">
            <li class="nlightblue" data-ng-class="vm.isCurrent(r)"
                data-ng-repeat="r in vm.navRoutes track by $id(r)">
                <a href="#{{r.originalPath}}"
                   data-ng-bind-html="r.settings.content"></a>
            </li>

            <li data-cc-wip
                wip="vm.wip"
                routes="vm.routes"
                changed-event="{{vm.wipChangedEvent}}"
                class="nlightblue"></li>

            <li class="nlightblue">
                <a href="" data-ng-click="vm.clearStorage()">
                    <i class="fa fa-cloud"></i> Clear Storage
                    <span class="pull-right"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
